<!-- adicionar_funcionario.html -->
{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Funcionário</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Adicionar Funcionário</h1>
    </header>

    <div class="form-container">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="submit-button">Adicionar Funcionário</button>
        </form>
    </div>

        <div class="back-link">
            <a href="{% url 'listar_funcionarios' %}" class="back-button">Voltar para a Lista de Funcionários</a>
        </div>
</body>
</html>
