{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">  <!-- Carrega o arquivo CSS -->
</head>
<body>
    <header>
        <h1>Dashboard</h1>
    </header>

    <div class="dashboard-container">
        <div class="card-container">
            <div class="card">
                <a href="{% url 'listar_clientes' %}" class="card-link">Clientes</a>
            </div>
            <div class="card">
                <a href="{% url 'listar_produtos' %}" class="card-link">Produtos</a>
            </div>
            <div class="card">
                <a href="{% url 'listar_armazens' %}" class="card-link">Armazéns</a>
            </div>
            <div class="card">
                <a href="{% url 'listar_veiculos' %}" class="card-link">Veículos</a>
            </div>
            <div class="card">
                <a href="{% url 'listar_funcionarios' %}" class="card-link">Funcionários</a>
            </div>
        </div>
    </div>
</body>
</html>
