{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Armazéns</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Lista de Armazéns</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Localização</th>
                <th>Capacidade</th>
            </tr>
        </thead>
        <tbody>
            {% for armazem in armazens %}
                <tr>
                    <td>{{ armazem.id_armazem }}</td>
                    <td>{{ armazem.localizacao }}</td>
                    <td>{{ armazem.capacidade }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3" class="empty-row">Nenhum armazém encontrado.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'dashboard' %}" class="add-button">Voltar</a>
    <a href="{% url 'adicionar_armazem' %}" class="add-button">Adicionar Novo Armazém</a>
</body>
</html>
