{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Funcionários</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Lista de Funcionários</h1>
    </header>

    <div class="form-container">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Email</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody>
                {% for funcionario in funcionarios %}
                    <tr>
                        <td>{{ funcionario.id_funcionario }}</td>
                        <td>{{ funcionario.nome }}</td>
                        <td>{{ funcionario.telefone }}</td>
                        <td>{{ funcionario.email }}</td>
                        <td>{{ funcionario.password }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4" class="empty-row">Nenhum funcionário encontrado.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Botão de Adicionar -->
        <form action="{% url 'adicionar_funcionario' %}" method="get">
            <button type="submit" class="submit-button">Adicionar Novo Funcionário</button>
        </form>
    </div>

    <div class="back-link">
        <a href="{% url 'dashboard' %}" class="back-button">Voltar</a>
    </div>
</body>
</html>
