{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Veículos</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Lista de Veículos</h1>
    </header>

    <div class="form-container">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Matrícula</th>
                    <th>Modelo</th>
                </tr>
            </thead>
            <tbody>
                {% for veiculo in veiculos %}
                    <tr>
                        <td>{{ veiculo.id_veiculo }}</td>
                        <td>{{ veiculo.matricula }}</td>
                        <td>{{ veiculo.modelo }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3" class="empty-row">Nenhum veículo encontrado.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Botão de Adicionar -->
        <form action="{% url 'adicionar_veiculo' %}" method="get">
            <button type="submit" class="submit-button">Adicionar Novo Veículo</button>
        </form>
    </div>

    <div class="back-link">
        <a href="{% url 'dashboard' %}" class="back-button">Voltar</a>
    </div>
</body>
</html>
