{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagamentos Pendentes</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Pagamentos Pendentes</h1>
    </header>

    <main class="form-container">
        <h2>Seus Pagamentos Pendentes</h2>

        {% if pagamentos %}
            <table>
                <thead>
                    <tr>
                        <th>Encomenda</th>
                        <th>Itens</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pagamento in pagamentos %}
                        <tr>
                            <td>#{{ pagamento.encomenda.idencomendas }}</td>
                            <td>
                                <ul>
                                    {% for item in pagamento.itens %}
                                        <li>{{ item.produto }} - {{ item.quantidade }} x {{ item.preco|floatformat:2 }}€</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>
                                 <form action="{% url 'registrar_pagamento' pagamento.encomenda.idencomendas %}" method="POST">
                                    {% csrf_token %}
                                    <button class="submit-button" type="submit">Criar Pagamento</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="no-data">Não há pagamentos pendentes.</p>
        {% endif %}

        <!-- Botão de voltar -->
        <div class="back-link">
            <a href="{% url 'loja' %}" class="back-button">Voltar</a>
        </div>
    </main>
</body>
</html>
